.container {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  background-color: inherit;
  border-width: var(--border-width);
  border-style: solid;
  border-top-color: var(--shadow);
  border-right-color: var(--light);
  border-bottom-color: var(--light);
  border-left-color: var(--shadow);
}